/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:active,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: var(--mu_white) !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: var(--mu_red) !important;
  width: calc(100% + 0.3vw) !important;
  font-size: 6vw !important;
  letter-spacing: 0;
}

input:-webkit-autofill::first-line,
input:-internal-autofill-previewed,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
:-moz-placeholder {
  font-size: 6vw !important;
  letter-spacing: -0.057em;
  -webkit-text-fill-color: var(--mu_white) !important;
}

::placeholder {
  color: var(--mu_white) !important;
  opacity: 1 !important;
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Graphik-Regular-Web.woff) format("woff");
  src: url(/assets/fonts/Graphik-Regular-Web.woff2) format("woff2");
}
@font-face {
  font-family: "Graphik";
  font-style: bold;
  font-weight: 700;
  src: url(/assets/fonts/Graphik-Medium-Web.woff) format("woff");
  src: url(/assets/fonts/Graphik-Medium-Web.woff2) format("woff2");
}
:root {
  --mu_red: #ED3A38;
  --mu_white: #FFFFFF;
  --mu_white_50: #E6807A;
  --mu_white_0: #FFFFFF00;
}

html {
  font-size: 100%;
  font-size: 1.2vw;
}

body,
h1,
h2,
h3,
input,
a,
::placeholder {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 0;
  letter-spacing: -0.057em;
  color: var(--mu_white);
}

body {
  background-color: var(--mu_red);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2vw 2vw 2.5vw 2vw;
}
.container header {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.container header .logo a {
  height: 5.5vw;
  width: auto;
  cursor: w-resize;
}
.container header .logo a.ext {
  cursor: alias;
}
.container header .logo a img {
  width: inherit;
  height: inherit;
}
.container header .tagline {
  cursor: default;
}
.container header .tagline h1 {
  display: inline-block;
  margin-top: 3.2vw;
  margin-right: -0.1vw;
  vertical-align: baseline;
}
.container main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.container main .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}
.container main .swiper .swiper-slide img,
.container main .swiper .swiper-slide .null {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container main .swiper .swiper-slide .null {
  background-color: var(--mu_red);
}
.container footer {
  position: relative;
  z-index: 100;
}
.container footer #mc_embed_signup {
  border-bottom: solid 0.1vw var(--mu_white);
  padding: 0.95vw 0px;
  pointer-events: none;
}
.container footer #mc_embed_signup form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container footer #mc_embed_signup form #mc-field-group {
  display: inline-block;
  width: 48vw;
  color: var(--mu_white);
  pointer-events: all;
}
.container footer #mc_embed_signup form #mc-field-group input {
  width: 73vw;
  border: none;
  margin-left: -0.3vw;
  padding: 0;
  background: none;
  outline: none;
  transition: opacity 0.15s ease;
}
.container footer #mc_embed_signup form #mc-field-group .progress {
  border-bottom: solid 0.5vw var(--mu_white);
  width: 100%;
  transition: width 0.3s ease;
}
.container footer #mc_embed_signup form #mc-field-group input,
.container footer #mc_embed_signup form #mc-field-group .progress {
  padding: 0.5vw 0px;
  margin-bottom: -1.25vw;
}
.container footer #mc_embed_signup form #mce-responses {
  position: absolute;
  left: 0;
  font-size: 30%;
  transform: translateY(-5vw);
  letter-spacing: -0.038em;
  opacity: 0.3;
}
.container footer #mc_embed_signup form #mc-submit {
  display: flex;
  justify-content: flex-end;
  height: 5.2vw;
  width: auto;
}
.container footer #mc_embed_signup form #mc-submit input {
  opacity: 0.3;
}
.container footer .error {
  padding-bottom: 2.2vw;
}

*::selection {
  color: var(--mu_red);
  background-color: var(--mu_white_50);
}

.typing-container {
  border-bottom: solid 0.1vw var(--mu_white) !important;
  transition: opacity 0.3s ease;
}

.typing {
  opacity: 1 !important;
  transition: opacity 0.3s ease;
  pointer-events: all;
}

a:not(.ext):hover {
  opacity: 0.3;
  transition: opacity 0.15s ease;
}

.container footer #mc_embed_signup form #mc-field-group:hover input {
  opacity: 0.3;
  transition: opacity 0s ease;
}
.container footer #mc_embed_signup form #mc-field-group:hover .progress {
  width: 0;
  transition: width 0s ease;
}
.container footer #mc-submit:hover input {
  opacity: 0.3 !important;
  transition: opacity 0.15s ease;
}

@media (max-width: 600px) {
  body,
h1,
h2,
h3,
input,
a,
::placeholder {
    font-size: 10vw;
  }
  .container {
    padding: 8vw 4vw 8.5vw 4vw;
  }
  .container header .tagline h1 {
    margin-top: 5.1vw;
  }
  .container header .logo a {
    height: 8.4vw;
  }
  .container footer {
    position: fixed;
    bottom: 8.5vw;
    width: calc(100% - 8vw);
  }
  .container footer #mc_embed_signup {
    border-bottom: solid 0.3vw var(--mu_white);
    padding: 0.8vw 0px;
  }
  .container footer #mc_embed_signup form #mc-submit {
    height: 8.4vw;
  }
  .container footer #mc_embed_signup form #mc-field-group .progress {
    border-bottom: solid 1vw var(--mu_white);
  }
}

/*# sourceMappingURL=index.css.map */
